/*
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*/

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebbold.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebthin.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: map-get($font_weight, ll);
	src: url('/fonts/IranYekanWeb/eot/iranyekanweblight.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebregular.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: map-get($font_weight, l);
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebmedium.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: map-get($font_weight, b);
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebextrabold.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: map-get($font_weight, bb);
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebblack.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebextrablack.eot');
	src: url('/fonts/IranYekanWeb/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IranYekanWeb/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IranYekanWeb/ttf/iranyekanwebextrablack.ttf') format('truetype');
}